<!DOCTYPE html>
<html>
  <head>
    <title>Node Authentication</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
  </head>

  <body>
      you are authenticated
  </body>

  <script src="https://ajax.googleapis.com/ajax/lib"></script>
</html>