<!DOCTYPE html>

<html>
   
<head>
    <title>Search Files</title>
<link rel="stylesheet" href="/css/styles.css">

</head>


<body>


<div class="main-content">

<p>Use this site to get your Google drive files</p>

<form>
    <input placeholder="Location">
    <button>Search</button>

</form>

<p id="message-1"></p>
<p id="message-2"></p>

</div>
    
<script src="/js/app.js"></script>

</body>

</html>